*.DS_Store
config/development.js
config/production.js
npm-debug.log
node_modules/
.tmp/
*.log
secrets/
# Editors/IDEs
.idea
*.iml
.vscode
.env
test-results-*.xml
out/
tmp/
lib/
coverage/
.nyc_output/

# build folders
/build/
**/build/**
**/lib/**
/dist/*
**/dist/**
/.npmrc
stats.json
.history
public/latest/*
*.tgz
meta/
*.tmp.js
